h1 { 
    color: #ffffff; 
    display: inline;
    font-family: 'Lato', sans-serif; 
    font-size: 24px; 
    font-weight: 2000; 
    line-height: 58px; 
    margin: 0 0 58px; 
}

h1:hover {
    color: #fe921f;
    cursor: pointer;
    text-decoration: none !important;
}


p { 
    color: #adb7bd; 
    font-family: 'Lucida Sans', Arial, sans-serif; 
    font-size: 16px; 
    line-height: 26px; 
    text-indent: 30px; 
    margin: 0; 
}


a { 
    color: #fe921f; 
    text-decoration: none; 
}

a:hover { 
    color: #ffffff 
}

.about-us {
    background-color: #273342;
    color: white;
    height: 400px;
}

.about-us ul {
    list-style: none;
    padding-top: 50px;
}

.about-us ul li {
    display: inline-block;
    padding-left: 180px;
    padding-right: 180px;
}

.about-us ul li p {
    font-weight: light;
    text-align: center;
    width: 220px;
}

.about-us ul li i {
    font-size: 15em;
}

.big-name {
    color: white;
    font-size: 100px;
    margin: 0 auto;
    position: relative;
    top: 25%;
    width: 25%;
}

.description {
    background-color: #c7c2c2;
    height: 800px;
}

.description img {
    margin-left: 20%;
    margin-top: 80px;
}

.home {
    background-image: url('public/background.jpg');
    background-size: cover;
    height: 100%;
}

.register-signin {
    position: absolute;
    top: 50%;
    left: 45%;
}

.register-signin a {
    color: white;
    cursor: pointer;
    font-size: 28px;
}

.register-signin a:hover {
    color: black;
}

.nav-text {
    color: white;
    padding: 20px;
    position: relative;
    top: 20px;
    font-size: 24px;
}

.overlay {
    background-color: rgba(0, 0, 0, .4);
    height: 100%;
}

.sub-name {
    color: #ffffff;
    display: inline;
    font-family: 'Lato', sans-serif; 
    font-size: 54px; 
    font-weight: 2000; 
    line-height: 58px; 
    left: 25%;
    position: relative;
    top: 30%;
}

.date { 
    background: #fe921f; 
    color: #ffffff; 
    display: inline-block; 
    font-family: 'Lato', sans-serif; 
    font-size: 12px; 
    font-weight: bold; 
    line-height: 12px; 
    letter-spacing: 1px; 
    margin: 0 0 30px; 
    padding: 10px 15px 8px; 
    text-transform: uppercase; 
}